h2{
	color: red;
}
body{
	
	
	background-color:yellow;
}
.anik{
	
	
	width: 600px;
	height: 400px;
	
	background-image: url('../image/download.jpg');
	background-repeat: no-repeat;
	background-size: 300px auto;
	background-attachment: fixed:
	background-position: top right;
}