img{
	width: 300px;
	height: auto;
	float: left;
}
.blur{
	filter: blur(2px);

}
.brigthness{
	filter: brightness(300%);
}
.contrast{
	filter: contrast(150%);
}
.grayscale{
	filter: grayscale(100%);
}
.invert{
	filter: invert(150%);
}
.opacity{
	filter: opacity(100%);
}
.saturated{
	filter: saturate(5);
}
.sepia{
	filter: sepia(100%);
}
.dropshadow{
	filter: drop-shadow( 8px 16px 20px green);
}